{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
        <title>Luigi's</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'fonts/beyond_the_mountains-webfont.css' %}" type="text/css"/>

        <!-- Stylesheets -->

        <link href="{% static 'plugin-frameworks/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugin-frameworks/swiper.css' %}" rel="stylesheet">
        <link href="{% static 'fonts/ionicons.css' %}" rel="stylesheet">
        <link href="{% static 'common/styles.css' %}" rel="stylesheet">



</head>
<body>

<header>
        <div class="container">
                <a class="logo" href="#"><img src="static/images/logo-white.png" alt="Logo"></a>

                <div class="right-area">

                </div><!-- right-area -->

                <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

                <div class="clearfix"></div>
        </div><!-- container -->
</header>


<section class="bg-1 h-900x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
                <div class="dplay-tbl">
                        <div class="dplay-tbl-cell center-text color-white">

                          <form action="{% url 'register' %}" method='POST'>
                            {% csrf_token %}
                              <div class="form-group">
                                <input name='firstname' type="text" class="form-control" id="formGroupExampleInput" placeholder="Firstname, example: John">
                              </div>
                              <div class="form-group">
                                <input name='lastname' type="text" class="form-control" id="formGroupExampleInput2" placeholder="Lastname, example: Kennedy">
                              </div>
                              <div class="form-group">
                                <input name='username' type="text" class="form-control" id="formGroupExampleInput2" placeholder="Username, example: JohnKennedy">
                              </div>
                              <div class="form-group">
                                <input name='password' type="password" class="form-control" id="formGroupExampleInput2" placeholder="enter a password">
                              </div>
                              <div class="form-group">
                                <input name= 'email' type="email" class="form-control" id="formGroupExampleInput2" placeholder="email, example: John_kennedy@gmail.com">
                              </div>
                              <input type='submit' class="plr-20 color-white btn-fill-primary" value='Register'>
                        </form>

                                <h5><b>BEST IN TOWN</b></h5>
                                <h1 class="mt-30 mb-15">Pizza & Pasta</h1>

                        </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
        </div><!-- container -->
</section>
